body {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
  background-color: #dadfe8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokedex {
  display: flex;
  gap: 30px;
  padding: 30px 0;
}

.cartao-pokemon {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 10px;
}

.cartao-pokemon .cartao-topo {
  padding: 30px 40px 0;
}

.tipo-fogo {
  background-color: #ed8a8b;
}

.tipo-agua {
  background-color: #76befe;
}

.tipo-grama {
  background-color: #49d0b0;
}

.tipo-trevas {
  background-color: #ba68c8;
}

.tipo-raio {
  background-color: #fcc719;
}

.tipo-dragao {
  background-color: #c29791;
}

.cartao-pokemon .nome {
  margin-bottom: 5px;
}

.cartao-pokemon .tipo {
  font-size: 12px;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cartao-pokemon .detalhes {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartao-pokemon .cartao-imagem {
  width: 350px;
  height: 350px;
}

.cartao-pokemon img {
  max-height: 100%;
}

.cartao-pokemon .cartao-informacoes {
  background-color: #ffffff;
  padding: 50px;
  margin-top: -70px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.cartao-pokemon .cartao-informacoes h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6b727a;
}

.cartao-pokemon .cartao-informacoes p {
  margin-bottom: 4px;
}

.cartao-pokemon .cartao-informacoes .status,
.cartao-pokemon .cartao-informacoes .habilidades {
  padding: 0 10px;
  width: 180px;
}

.cartao-pokemon .cartao-informacoes .informacoes {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.listagem {
  max-width: 200px;
}

.listagem .pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #6b727a;
  color: #ffffff;
  padding: 0 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  min-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.listagem .pokemon:hover {
  transform: scale(1.05);
}

.listagem .pokemon.ativo {
  background-color: #fa6668;
}

.listagem .pokemon img {
  width: 25%;
  border-radius: 50%;
}

.listagem .pokemon span {
  padding-right: 20px;
}

.aberto {
  display: block;
}
